<!doctype html>
<html lang="en" ng-app="NarrowItDownApp">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <script type="text/javascript" src="angular.min.js">
    </script>
    <script type="text/javascript" src="app.js">
    </script>
  </head>
<body >
   <div class="container" ng-controller="NarrowItDownController as narrowItDownCtrl">
    <h1>Narrow Down Your Chinese Menu Choice</h1>

    <div class="form-group">
      <input type="text" placeholder="search term" class="form-control" ng-model="narrowItDownCtrl.searchTerm">
    </div>
    <div class="form-group narrow-button">
      <button class="btn btn-primary" ng-click="narrowItDownCtrl.getMenuItems()">Narrow It Down For Me!</button>
    </div>

    <!-- found-items should be implemented as a component -->
    <div class="row col-sm-12">
    <found-items found-item="narrowItDownCtrl.found" on-remove="narrowItDownCtrl.removeItemFromFound(index)"></found-items>
    </div>

    <div class="row col-sm-12 error" ng-if="narrowItDownCtrl.error">
      Nothing found
    </div>
  </div>

</body>
</html>
